<html>
<head>
    <title>Test relations</title>
    <meta name="charset" content="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        .wrap {
            display: flex;
        }
        #mynetwork, #mydata {
            width: 50vw;
            height: 100vh;
            border-right: 1px solid lightgrey;
        }
        #mydata {
          border: 0;
          width: calc(50vw - 1px);
          padding: 2em;
          box-sizing: border-box;
        }

        #mynetwork > div {
          outline: none;
        }
    </style>
</head>
<body>
  <div class="wrap">
    <div id="mynetwork"></div>
    <div id="mydata">
      <h1>Bienvenue en Tyrie&nbsp;!</h1>
      <p>Cliquez sur un point pour découvrir plus de détails sur ce dernier.</p>
    </div>
  </div>


<script type="text/javascript">
    var nodes = new vis.DataSet([{% for node in site.nodes %}{id: '{{node.slug}}', label: '{{node.title}}', color: '{{node.color}}'},{% endfor %}]);
    var edges = new vis.DataSet([{% for edge in site.edges %}{from: '{{ edge.from | slugify }}', to: '{{ edge.to | slugify }}', label: '{{edge.label}}', {% if edge.arrow %}arrows: {to: '{{edge.to | slugify}}'}, {% endif %}font: {align: 'middle'}},{% endfor %}]);

    var container = document.getElementById('mynetwork');

    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
      nodes: {
        shape: 'dot',
        color: '#bdc3c7'
      }
    };

    var network = new vis.Network(container, data, options);

    network.on('click', function(d) {
      if(typeof(d.nodes[0]) !== 'undefined') {
        $.get(`/nodes/${d.nodes[0]}`, function(data) {
          $('#mydata').html(data);
        });
      }
    });
</script>
</body>
</html>
